

<div class="searchSection">
    <h3>Search</h3>
    <form class="form">
        <div class="formField">
            <label class="formLabel" for="fromDate">From Date:</label>
            <input class="formInput" type="date" name="fromDate" />
        </div>
        <div class="formField">
            <label class="formLabel" for="toDate">To Date:</label>
            <input class="formInput" type="date" name="toDate" />
        </div>
        <div class="formField">
            <label class="formLabel" for="authorName">Author Name:</label>
            <input class="formInput" type="text" name="authorName" />
        </div>
        <div class="formField">
            <label class="formLabel" for="authorEmail">Author Email:</label>
            <input class="formInput" type="email" name="authorEmail" />
        </div>
        <div class="formField">
            <label class="formLabel" for="commentsWords">Words from the comments:</label>
            <input class="formInput" type="text" name="commentsWords" />
        </div>
        <div class="formField">
            <label class="formLabel" for="numOfComments">Number of comments</label>
            <input class="formInput" type="range" name="numOfComments" min="1" max="10" value="5">
        </div>
    </form>
</div>
