@using ShauliBlog.Models
@using ShauliBlog.ViewModels
@model IEnumerable<Post>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("SearchSection")
        @foreach (Post post in Model)
        {
            @Html.Partial("ArticleSection", post)
            @Html.Partial("CommentsSection", post.Comments)
            @Html.Partial("CommentForm", new CommentFormViewModel())
        }
    </div>
</div>
